# Documentation build requirements
sphinx==5.3.0  # so that it can be run by Python3.7 on ReadTheDocs.com
sphinx_autodoc_typehints>=1.22
sphinxcontrib_mermaid>=0.8.1
sphinx-rtd-theme>=1.2.0
recommonmark>=0.7.1
m2r2==0.3.2  # for compatibility with sphinx-rtd-theme, which requires an older version of docutils.
numpy >= 1.15.4
scipy >= 0.17.1
matplotlib >= 3.3.2
