include README.md
include README.rst
include README.html

include LICENSE.txt

include macromax/*.py

include macromax/examples/__init__.py
include macromax/examples/notebook_example.ipynb
include macromax/examples/air_glass_air_1D.py
include macromax/examples/air_glass_air_2D.py
include macromax/examples/birefringent_crystal.py
include macromax/examples/polarizer.py
include macromax/examples/rutile.py

include macromax/tests/__init__.py
include macromax/tests/test_solution.py
include macromax/tests/test_parallelOperations.py

prune *.log