#
# Core requirements
#
numpy >= 1.15.4
scipy >= 0.17.1

#
# Requirements for the examples
#
# matplotlib >= 3.3.2

#
# Optional for efficiency improvements
#
# pyFFTW >= 0.12.0
# mkl-fft >= 1.2.0  # for Intel CPU with Anaconda or Intel-Python: conda create -n idp intelpython3_full python=3; conda activate idp

# GPU, install PyTorch >= 1.7.0: https://pytorch.org/get-started/locally/
# torch  # pip install torch===1.7.1+cu110 torchvision===0.8.2+cu110 torchaudio===0.7.2 -f https://download.pytorch.org/whl/torch_stable.html

#
# Software Development
#
# pprofile >= 2.0.5
# memory_profiler >= 0.58.0

#
# Deployment
#
# pypandoc >= 1.5