#
# Core requirements
#
numpy >= 2.0.0
scipy >= 0.19.0
coloredlogs >= 15.0  # To color-format the log output on the console.

#
# Optional for efficiency improvements
#
# Install PyTorch >= 2.5.1 for your system: https://pytorch.org/get-started/locally/
# Currently  CPU on Windows and Max, while GPU on Linux
# !pip install torch
# Currently GPU on Windows:
# !pip install torch --index-url https://download.pytorch.org/whl/cu124
# Currently  CPU on Linux:
# !pip install torch --index-url https://download.pytorch.org/whl/cpu

# Required for examples
# matplotlib >= 3.9.2

#
# Software Development
#
# pprofile >= 2.0.5
# memory_profiler >= 0.58.0

#
# Deployment
#
# m2r2 == 0.3.2
